@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*       {margin: 0%; box-sizing: border-box; position: relative; vertical-align: middle;}
html    {scroll-behavior: smooth;}

/*Text Styles*/
h1, h2, h3 {
    font-family: 'Old Standard TT', serif;
    line-height: 1.1;
}

h2 {
    color: white;
    -webkit-text-stroke: 2px gray;
    font-weight: 700;
    font-size: 3.4rem;
    margin: 1rem 0 1.5rem;
}

h1 {
    z-index: 2;
    margin: 0 0 1rem;
    width: 100%;
    font-size: 5rem;
    font-weight: 900;
    -webkit-text-stroke: 2px gray;
    color: white;
}

h3 {
    color: black;
    font-size: 3rem;
    margin: 0 0 2rem;
}

/*Header*/
header {
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
} header::before {
    content: "";
    background: url(images/bg5.jpg) center center no-repeat fixed;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.header {
    animation: showHeader 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.subheader {
    animation: showSubHeader 2.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

/*Styles*/
body {
  font-family: 'Lato', sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: black;
  background: white;
  text-rendering: optimizeLegibility;
}

.image-block {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

input {
    border: none;
    border-bottom: 4px solid white;
    border-radius: 0px;
    padding: 10px 0;
    color: white;
    font-size: 50px;
    background: none;
    width: 600px; 
} input:focus, textarea:focus, select:focus {
    outline: none;
}

.submitButton {
    border: 2px;
    padding: 10px 15px;
    color: white;
    left: -5px;
    border-radius: 5px;
    background: #3a393940;
    font-size: 50px;
    transition: color 0.25s linear;
} ::placeholder {
    color: white;
    font-weight: 400;
}

.ex-btn {
  display: inline-block;
  color: white;
  border: none;
  border-radius: 0;
  outline: 0;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

section {
  padding: 4rem 0;
}

/* Grid */
.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "footer footer footer footer";
    margin: auto;
    padding: 0 1rem;
    max-width: 80rem;
    width: 100%;
    height: 100vh;
}

/* .container2 {
    margin: auto;
    padding: 0 1rem;
    max-width: 80rem;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: stretch;
} */

/* Footer */
#footer .copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 0.5rem;
    opacity: 0.75;
    text-transform: uppercase;
    color: black;
} #footer a {
    color: black;
}

/*Animations*/ 

@keyframes showHeader {
    0%{transform: translateY(30%); opacity:0;}
    100%{transform: translateY(0%); opacity: 1;}
}

@keyframes showSubHeader {
    0%{transform: translateX(10%); opacity:0;}
    100%{transform: translateY(0%); opacity: 1;}
}

/*Responsiveness*/